* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

section#score {
    width: 100%;
    text-align: center;
}

#board {
    background: url("./../images/earth.gif") no-repeat center;
    background-size: 300%;
    width: 640px;
    height: 640px;
    margin: 1em auto;
}

#board > div {
    border: 1px dashed rgba(139, 69, 19, .5);
    float: left;
    width: 64px;
    height: 64px;
}

section#score div {
    width: 12em;
    height: 5em;
    text-align: center;
    padding: .75em;
    background-color: forestgreen;
    color: lightgreen;
    border-radius: 1px;
    box-shadow: 1px 1px 5px 1px darkgreen;
    margin: 1em auto;
}

section#controls {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.brainiac {
    background: url('../images/brain.png') no-repeat;
    background-size: cover;
}

.weed {
    background: url('../images/ganja.png') no-repeat;
    background-size: cover;
}

section#over {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 10px;
    background-color: forestgreen;
    color: lightgreen;
}

section#over pre {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    color: brown;
}

.invisible {
    display: none;
}